.footer {
  // .footer__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .footer__top

  &__top {
    @media (max-width: 48em) {
      margin-bottom: 8rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  // .footer__main

  &__main {
    margin-bottom: 5rem;
    display: grid;
    @media (min-width: 48em) {
      margin-bottom: 10.3rem;
      grid-template-columns: 3fr 7fr 2fr;
    }
  }

  // .footer__logo-group

  &__logo-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4.8rem;
    @media (max-width: 48em) {
      row-gap: 2.4rem;
    }
  }

  // .footer__logo-wrap

  &__logo-wrap {
    width: 18.6rem;
    &_mks {
      width: 10.6rem;
    }
    @media (max-width: 48em) {
      width: 25rem;
      &_mks {
        width: 13rem;
      }
    }
  }

  // .footer__logo

  &__logo {
    object-fit: contain;
  }

  // .footer__nav

  &__nav {
    @media (min-width: 48em) {
      margin-right: 15.2rem;
    }
  }

  // .footer__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 48em) {
      display: flex;
      column-gap: 9.3rem;
    }
  }

  // .footer__item

  &__item {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      row-gap: 2.8rem;
      &_app {
        display: none;
        justify-self: flex-end;
      }
    }
    @media (max-width: 48em) {
      &:first-child {
        margin-bottom: 5rem;
      }
      &_app {
        .footer__heading {
          max-width: 24rem;
        }
      }
      &.spoiler {
        grid-column: span 2;
      }
    }
  }

  // .footer__app

  &__app {
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
    @media (max-width: 48em) {
      align-items: flex-end;
      row-gap: 3.4rem;
      text-align: right;
    }
  }

  // .footer__subnav

  &__subnav {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    @media (max-width: 48em) {
      row-gap: 3.4rem;
    }
  }

  // .footer__subnav-item

  &__subnav-item {
  }

  // .footer__subnav-link

  &__subnav-link {
    font-size: 1.5rem;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 48em) {
      font-size: 2.4rem;
      letter-spacing: 0.192rem;
    }
  }

  // .footer__heading

  &__heading {
    max-width: 14.2rem;
    @media (max-width: 48em) {
      max-width: 53.4rem;
    }
  }

  // .footer__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    @media (max-width: 48em) {
      align-items: flex-start;
      justify-self: end;
    }
  }

  // .footer__group-item

  &__group-item {
    width: 16.5rem;
    border-radius: 1rem;
    @media (max-width: 48em) {
      width: 24rem;
    }
  }

  // .footer__group-item-img

  &__group-item-img {
    object-fit: contain;
  }

  // .footer__row

  &__row {
    margin-bottom: 10rem;
    display: grid;
    @media (min-width: 48em) {
      margin-bottom: 7.2rem;
      grid-template-columns: 3fr 9fr;
    }
  }

  // .footer__socials

  &__socials {
    column-gap: 2.4rem;
    @media (min-width: 48em) {
      padding-bottom: 1rem;
      align-self: flex-end;
      column-gap: 2rem;
    }
  }

  // .footer__newsletter

  &__newsletter {
  }

  // .footer__text-wrap

  &__text-wrap {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      row-gap: 3.2rem;
    }
  }

  // .footer__text

  &__text {
    color: $gray;
  }

  // .footer__copyright

  &__copyright {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.4rem;
    @media (min-width: 48em) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // .footer__copyright-text

  &__copyright-text {
  }
}

// --------------------------------------------------------------------------

.newsletter-footer {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  @media (max-width: 48em) {
    row-gap: 5rem;
  }

  // .newsletter-footer__heading

  &__heading {
    @media (max-width: 48em) {
      max-width: 55rem;
    }
  }

  // .newsletter-footer__form

  &__form {
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    @media (max-width: 48em) {
      padding-bottom: 2.4rem;
    }
  }

  // .newsletter-footer__input

  &__input {
    padding-right: 2rem;
  }

  // .newsletter-footer__btn

  &__btn {
  }
}
