.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  ._header-scroll &,
  ._header-show & {
    &::after {
      opacity: 1;
    }
  }

  // .header__container

  &__container {
    display: flex;
    flex-direction: column;
    height: 17.4rem;
    @media (max-width: 48em) {
      padding: 0 2.4rem;
      height: 20.2rem;
    }
  }

  // .header__contacts

  &__contacts {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
    column-gap: 1.6rem;
    ._search-box-opened & {
      z-index: -1;
      pointer-events: none;
    }
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__socials

  &__socials {
  }

  // .header__top

  &__top {
    position: relative;
    z-index: 3;
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__links-list

  &__links-list {
    display: flex;
    column-gap: 3.2rem;
    @media (max-width: 48em) {
      flex-direction: column;
      row-gap: 3.2rem;
    }
  }

  // .header__link-item

  &__link-item {
  }

  // .header__link-txt

  &__link-txt {
  }

  // .header__select-lang

  &__select-lang {
    position: relative;
    z-index: 3;
    .select {
      &__option {
        @extend .caps;
        font-weight: 500;
      }
    }
  }

  // .header__main

  &__main {
    position: relative;
    z-index: 2;
    margin-bottom: 4rem;
    padding-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      content: '';
      position: fixed;
      z-index: 90;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      background-color: $black;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      ._menu-opened & {
        opacity: 0.3;
        visibility: visible;
      }
    }
    @media (min-width: 48em) {
      margin: 0;
      padding: 2.8rem 0;
    }
    @media (max-width: 48em) {
      ._search-box-opened & {
        z-index: -1;
      }
    }
  }

  // .header__logo-wrap

  &__logo-wrap {
    position: relative;
    z-index: 2;
    flex: 0 0 24.8rem;
    width: 24.8rem;
    @media (min-width: 48em) {
      margin-right: 4rem;
      flex: 0 0 18.6rem;
      width: 18.6rem;
    }
  }

  // .header__logo

  &__logo {
    object-fit: contain;
  }

  // .header__search

  &__search {
    position: relative;
    flex: 1 1 auto;
    @media (min-width: 48em) {
      margin-right: 7.2rem;
    }
  }

  // .header__search-inner

  &__search-inner {
    position: relative;
    z-index: 2;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightGray;
    @media (max-width: 48em) {
      z-index: 210;
      padding: 0;
      column-gap: 5rem;
      transition: transform 0.3s ease;
      ._search-box-opened & {
        padding-bottom: 0;
        border: none;
      }
    }
  }

  // .header__search-input

  &__search-input {
    padding-right: 2rem;
    padding: 0;
    border: none;
    @media (max-width: 48em) {
      padding-right: 0;
      ._search-box-opened & {
        &.input {
          &::before {
            background-image: url(@img/icons/search-black.svg);
          }
        }
      }
    }
  }

  // .header__search-btn

  &__search-btn {
  }

  // .header__actions

  &__actions {
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__bottom

  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  // .header__nav

  &__nav {
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__list

  &__list {
  }

  // .header__catalog

  &__catalog {
    margin-right: 4.8rem;
    ._search-box-opened & {
      pointer-events: none;
    }
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__catalog-link

  &__catalog-link {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.216rem;
    line-height: 100%;
    text-transform: uppercase;
    &::before {
      content: '';
      flex: 0 0 2.3rem;
      width: 2.3rem;
      height: 2.3rem;
      background-image: url('@img/icons/catalog.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  // .header__tel

  &__tel {
  }

  // .header__tel-icon

  &__tel-icon {
    width: 4rem;
    height: 4rem;
  }

  // .header__tel-icon-img

  &__tel-icon-img {
    height: 100%;
    object-fit: contain;
  }

  // .header__tel-txt

  &__tel-txt {
    line-height: 100%;
  }

  // .header__close-search-btn

  &__close-search-btn {
    @media (max-width: 48em) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 3.5rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      ._search-box-opened & {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__close-search-btn,
  &__close-search-btn-icon {
    @media (max-width: 48em) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

// --------------------------------------------------------------------------

.actions-header {
  // .actions-header__account

  &__account {
  }

  // .actions-header__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 2.6rem;
    @media (min-width: 48em) {
      position: relative;
      z-index: 2;
    }
  }

  // .actions-header__item

  &__item {
    flex: 0 0 3.2rem;
    &_account {
      position: relative;
    }
    @media (min-width: 48em) {
      &:hover {
        &:not(._search-box-opened &) {
          .account-section {
            opacity: 1;
            visibility: visible;
            transform: translate(12rem, 0.5rem);
          }
          .actions-header__icon path {
            stroke: $red;
          }
        }
      }
    }
  }

  // .actions-header__icon-wrap

  &__icon-wrap {
    width: 3.2rem;
    height: 3.2rem;
    @media (min-width: 48em) {
      ._search-box-opened & {
        pointer-events: none;
      }
    }
  }

  // .actions-header__icon

  &__icon {
    width: 100%;
    height: 100%;
    path {
      transition: stroke 0.3s ease;
    }
  }
}

// --------------------------------------------------------------------------

.menu {
  @media (min-width: 48em) {
    display: none;
  }

  // .menu__hamburger

  &__hamburger {
  }

  // .menu__body

  &__body {
    position: fixed;
    z-index: 220;
    top: 0;
    left: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 52rem;
    height: 100%;
    min-height: 100vh;
    background-color: $white;
    transform: translateX(-110%);
    transition: transform 0.5s ease;
    ._menu-opened & {
      transform: translateX(0);
    }
  }

  // .menu__close-btn

  &__close-btn {
    margin-bottom: 1.6rem;
    align-self: flex-end;
    width: 3.5rem;
    height: 3.5rem;
  }

  // .menu__close-btn-icon

  &__close-btn-icon {
    height: 100%;
    object-fit: contain;
  }

  // .menu__nav

  &__nav {
    padding-bottom: 5rem;
    border-bottom: 1px solid $lightGray;
  }

  // .menu__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    &::before {
      content: '';
      flex: 0 0 5rem;
      width: 5rem;
      height: 5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    // .menu__link_catalog

    &_catalog {
      &::before {
        background-image: url(@img/icons/catalog.svg);
      }
    }

    // .menu__link_profile

    &_profile {
      &::before {
        background-image: url(@img/icons/user-red.svg);
      }
    }

    // .menu__link_liked

    &_liked {
      &::before {
        background-image: url(@img/icons/heart-red.svg);
      }
    }

    // .menu__link_basket

    &_basket {
      &::before {
        background-image: url(@img/icons/bag-red.svg);
      }
    }
  }

  // .menu__tel-wrap

  &__tel-wrap {
    margin-bottom: 5rem;
    padding: 5rem 0;
    border-bottom: 1px solid $lightGray;
  }

  // .menu__tel

  &__tel {
    @extend .menu__link;
    &::before {
      content: '';
      flex: 0 0 5rem;
      width: 4rem;
      height: 4rem;
      background-image: url(@img/icons/call-red.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

// --------------------------------------------------------------------------

.hamburger {
  position: relative;
  flex: 0 0 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 3.6rem;
    height: 2px;
    border-radius: 2rem;
    background-color: $black;
    transform: translateX(-50%);
  }
  &::before {
    top: 0.9rem;
  }
  &::after {
    bottom: 1rem;
  }
}

// --------------------------------------------------------------------------

.list-header {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
  ._search-box-opened & {
    z-index: -1;
  }

  // .list-header t__item

  &__item {
    @media (min-width: 48em) {
      &:hover {
        .list-header__link {
          color: $red;
        }
        .header-subnav {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  // .list-header__link

  &__link {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }
}

// --------------------------------------------------------------------------

.search-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  ._search-box-opened & {
    height: auto;
    opacity: 1;
    visibility: visible;
    overflow: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2.4rem;
    width: calc(100% + 4.8rem);
    height: calc(100% + 6rem);
    background-color: $white;
    background-image: url(@img/bg/search-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.18);
    transform: translateY(-6rem);
  }
  @media (max-width: 48em) {
    position: fixed;
    z-index: 200;
    top: -100%;
    padding: 4rem 2.4rem 5rem 2.4rem;
    height: 100%;
    overflow: auto;
    &::before {
      position: fixed;
      left: 0;
      width: 100%;
      height: 100%;
      transform: none;
    }
    ._search-box-opened & {
      top: 0;
      height: 100%;
      overflow: auto;
    }
  }

  // .search-box__slider-nav

  &__slider-nav {
    display: none;
    @media (min-width: 48em) {
      display: flex;
      align-items: center;
      align-self: flex-end;
      column-gap: 3rem;
    }
  }

  // .search-box__slider-arr

  &__slider-arr {
    // .search-box__slider-arr_prev

    &_prev {
      transform: rotate(-180deg);
    }

    // .search-box__slider-arr_next

    &_next {
    }
  }

  // .search-box__slider-arr-icon

  &__slider-arr-icon {
  }

  // .search-box__inner

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 38.6rem 1fr;
      column-gap: 11rem;
    }
  }

  // .search-box__content

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      row-gap: 5rem;
    }
  }

  // .search-box__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &_hint,
    &_categories,
    &_brands {
      display: none;
    }
    ._filled & {
      &_hint,
      &_categories,
      &_brands {
        display: flex;
      }
      &_suggest,
      &_recent {
        display: none;
      }
    }
    @media (max-width: 48em) {
      row-gap: 4rem;
      &:not(&_suggest, &_brands) {
        padding-bottom: 5rem;
        border-bottom: 1px solid $lightGray;
      }
    }
  }

  // .search-box__heading

  &__heading {
    @media (max-width: 48em) {
      &:not(.search-box__group_brands &) {
        font-weight: 400;
      }
    }
  }

  // .search-box__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    &:not(.search-box__group_recent &) {
      align-items: flex-start;
    }
    @media (max-width: 48em) {
      row-gap: 3.4rem;
    }
  }

  // .search-box__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    cursor: pointer;
    &_recent,
    &_suggest,
    &_category,
    &_brand,
    &_hint {
      &::before {
        content: '';
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: 48em) {
          flex: 0 0 5rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }

    // .search-box__item_recent

    &_recent,
    &_hint {
      &::before {
        background-image: url(@img/icons/clock.svg);
      }
    }

    // .search-box__item_suggest

    &_suggest {
      &::before {
        background-image: url(@img/icons/search-gray.svg);
      }
    }

    // .search-box__item_category

    &_category {
      &::before {
        background-image: url(@img/icons/catalog-gray.svg);
      }
    }

    // .search-box__item_brand

    &_brand {
      &::before {
        background-image: url(@img/icons/badge.svg);
        @media (max-width: 48em) {
          height: 4rem;
        }
      }
    }
  }

  // .search-box__item-txt

  &__item-txt {
    margin-right: auto;
    line-height: 100%;
  }

  // .search-box__delete-btn

  &__delete-btn {
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
    @media (max-width: 48em) {
      flex: 0 0 3.5rem;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  // .search-box__delete-icon

  &__delete-icon {
  }

  // .search-box__carousel

  &__carousel {
    min-width: 0;
    width: calc(100vw - 2.4rem);
    @media (min-width: 48em) {
      display: flex;
      align-self: start;
      justify-self: end;
      column-gap: 5rem;
      width: auto;
      overflow: hidden;
    }
  }

  // .search-box__slider

  &__slider {
    @media (min-width: 48em) {
      &.swiper {
        width: 32rem;
        overflow: visible;
      }
    }
  }

  // .search-box__wrapper

  &__wrapper {
  }

  // .search-box__slide

  &__slide {
    &.swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      &.swiper-slide-active {
        opacity: 1;
        visibility: visible;
      }
      @media (max-width: 48em) {
        opacity: 0.5;
        visibility: visible;
        transition: opacity 0.3s ease;
      }
    }
    @media (max-width: 48em) {
      &.swiper-slide {
        padding: 3.4rem 2.4rem;
        min-height: auto;

        .menu-product-card {
          &__head {
            margin-bottom: 3.4rem;
          }
          &__heading {
            max-width: 19.6rem;
            transform: translate(9.5rem, 13rem);
          }
          &__image-wrap {
            height: 38.4rem;
          }
          &__grade {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  // .search-box__brands

  &__brands {
    display: flex;
    column-gap: 0.8rem;
    @media (max-width: 48em) {
      column-gap: 1.6rem;
      overflow-x: auto;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
    }
  }

  // .search-box__brand

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 13.2rem;
    width: 13.2rem;
    height: 8rem;
    background-color: $white;
    cursor: pointer;
    @media (max-width: 48em) {
      flex: 0 0 16rem;
      width: 16rem;
      height: 12.8rem;
    }
  }

  // .search-box__brand-img-wrap

  &__brand-img-wrap {
    width: 7.9rem;
    @media (max-width: 48em) {
      width: 11.2rem;
    }
  }

  // .search-box__brand-img

  &__brand-img {
    object-fit: contain;
  }
}

// --------------------------------------------------------------------------

.header-catalog {
  &::before {
    @extend %bg;
  }
  ._show-catalog & {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  @media (max-width: 48em) {
    position: fixed;
    z-index: 200;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $white;
    background-image: url(@img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
    transform: none;
    &::before {
      display: none;
    }
  }

  // .header-catalog__inner

  &__inner {
    padding: 4rem 2.4rem;
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      padding: 3.2rem 0;
      display: grid;
      grid-template-columns: 28rem 1fr;
      column-gap: 12rem;
    }
  }

  // .header-catalog__menubar

  &__menubar {
  }

  // .header-catalog__sublinks

  &__sublinks {
    display: flex;
    flex-direction: column;
    row-gap: 3.6rem;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      row-gap: 6.4rem;
    }
  }

  // .header-catalog__sublinks-item

  &__sublinks-item {
    @media (min-width: 48em) {
      &._active {
        .header-catalog__sublink {
          color: $black;
        }
        path {
          stroke: $black;
        }
      }
    }
  }

  // .header-catalog__sublink

  &__sublink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    @media (min-width: 48em) {
      color: $gray;
      transition: color 0.3s ease;
    }
  }

  // .header-catalog__sublink-icon

  &__sublink-icon {
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
    @media (max-width: 48em) {
      flex: 0 0 4rem;
      width: 4rem;
      height: 4rem;
      path {
        stroke: $black;
      }
    }
  }

  // .header-catalog__content

  &__content {
    position: relative;
    display: flex;
  }

  // .header-catalog__subnav-content

  &__subnav-content {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 19rem;
      row-gap: 5rem;
      height: 100%;
      width: 100%;
    }
  }

  // .header-catalog__subnav

  &__subnav {
    @media (min-width: 48em) {
      display: none;
      &._active {
        display: flex;
        justify-content: space-between;
      }
    }
    @media (max-width: 48em) {
      position: fixed;
      z-index: 250;
      top: 0;
      right: 0;
      padding: 4rem 2.4rem;
      display: flex;
      flex-direction: column;
      row-gap: 5rem;
      width: 100%;
      height: 100%;
      background-color: $white;
      background-image: url(@img/bg.webp);
      background-size: cover;
      background-repeat: no-repeat;
      overflow: auto;
      transform: translateX(110%);
      transition: transform 0.3s ease;
      &._active {
        transform: translateX(0);
      }
    }
  }

  // .header-catalog__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @media (max-width: 48em) {
      row-gap: 4rem;
      &:not(:last-child, &_sublist) {
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        border-bottom: 1px solid $lightGray;
      }
      &_sublist {
        margin-bottom: 2.4rem;
      }
    }
  }

  // .header-catalog__heading

  &__heading {
    white-space: nowrap;
  }

  // .header-catalog__list-wrap

  &__list-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    @media (min-width: 48em) {
      flex-direction: row;
      column-gap: 10rem;
    }
  }

  // .header-catalog__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.2rem;
    @media (max-width: 48em) {
      row-gap: 2.4rem;
    }
  }

  // .header-catalog__list-item

  &__list-item {
  }

  // .header-catalog__list-link

  &__list-link {
    white-space: nowrap;
  }

  // .header-catalog__brands

  &__brands {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @media (max-width: 48em) {
      margin-bottom: -4rem;
      flex-direction: row;
      column-gap: 1.6rem;
      overflow-x: auto;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
    }
  }

  // .header-catalog__brand

  &__brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13.2rem;
    height: 8rem;
    background-color: $white;
    @media (max-width: 48em) {
      flex: 0 0 16rem;
      width: 16rem;
      height: 12.8rem;
    }
  }

  // .header-catalog__brand-image-wrap

  &__brand-image-wrap {
    width: 7.9rem;
    height: 6rem;
    @media (max-width: 48em) {
      width: 11.2rem;
      height: 8.4rem;
    }
  }

  // .header-catalog__brand-image

  &__brand-image {
    height: 100%;
    object-fit: contain;
  }

  // .header-catalog__head

  &__head {
    display: none;
    @media (max-width: 48em) {
      margin-bottom: 6.6rem;
      display: grid;
      grid-template-columns: 3.5rem 1fr 3.5rem;
      align-items: center;
      order: -1;
    }
  }

  // .header-catalog__heading

  &__heading {
    @media (max-width: 48em) {
      justify-self: center;
      grid-column: 2/3;
    }
  }

  // .header-catalog__close-btn

  &__close-btn {
    grid-column: 3/4;
    width: 3.5rem;
    height: 3.5rem;
  }

  // .header-catalog__close-btn-icon

  &__close-btn-icon,
  &__arr-btn {
    height: 100%;
    object-fit: contain;
  }

  // .header-catalog__arr-btn

  &__arr-btn {
    width: 5rem;
    height: 5rem;
    transform: rotate(180deg);
  }

  // .header-catalog__advertising

  &__advertising {
    display: inline-flex;
    width: 100%;
    &::after {
      width: 26rem;
      height: 29.7rem;
      transform: translate(27rem, 19rem);
    }
    @media (min-width: 48em) {
      margin-left: auto;
      align-self: flex-start;
      width: auto;
      min-width: 95rem;
      &._hidden {
        display: none;
      }
      .advertising {
        &__content {
          padding: 4rem 3rem 7.7rem 5.6rem;
        }
        &__bg-wrap {
          width: 31.5rem;
          height: 28.9rem;
          transform: none;
        }
        &__image-wrap {
          width: 8.6rem;
          transform: translate(9.5rem, 3.5rem);
        }
      }
    }
    @media (max-width: 48em) {
      &::after {
        display: inline-block;
        width: 12.5rem;
        height: 12.5rem;
      }
      .advertising {
        &__subtitle {
          color: $black;
        }
        &__bg-wrap {
          width: 31.4rem;
          height: 32rem;
        }
      }
    }
  }

  // .header-catalog__product-card

  &__product-card {
    @media (min-width: 48em) {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------

.header-subnav,
.header-catalog {
  position: absolute;
  top: 100%;
  left: 0;
  width: 162rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.header-subnav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 162rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  &::before {
    @extend %bg;
  }
  @media (max-width: 48em) {
    display: none;
  }

  // .header-subnav__inner

  &__inner {
    padding: 5.6rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    column-gap: 10.7rem;
  }

  // .header-subnav__content

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 7.8rem;
  }

  // .header-subnav__menubar

  &__menubar {
    display: flex;
    column-gap: 10rem;
  }

  // .header-subnav__sublinks

  &__sublinks {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  // .header-subnav__heading

  &__heading {
    line-height: 122.222%;
    color: $gray;
  }

  // .header-subnav__list-wrap

  &__list-wrap {
    display: flex;
    column-gap: 6.4rem;
  }

  // .header-subnav__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.2rem;
  }

  // .header-subnav__sublinks-item

  &__sublinks-item {
  }

  // .header-subnav__sublink

  &__sublink {
    position: relative;
    z-index: 2;
    line-height: 133.333%;
    white-space: nowrap;
    .header__bottom & {
      color: $gray;
      transition: color 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          color: $black;
        }
      }
    }
  }

  // .header-subnav__brands

  &__brands {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  // .header-subnav__brands-list

  &__brands-list {
    display: flex;
    column-gap: 0.8rem;
  }

  // .header-subnav__brand

  &__brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 13.2rem;
    width: 13.2rem;
    height: 8rem;
    background-color: $white;
    cursor: pointer;
  }

  // .header-subnav__brand-image

  &__brand-image {
    width: 7.9rem;
    height: 6rem;
  }

  // .header-subnav__brand-image-content

  &__brand-image-content {
    height: 100%;
    object-fit: contain;
  }

  // .header-subnav__product-card

  &__product-card {
    width: 32rem;
  }
}
