body::after {
  content: '';
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease 0s;
  .modal-show & {
    opacity: 0.4;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3rem 2.4rem;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.8s ease 0s;
  &.modal_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    .modal__content {
      visibility: visible;
      transform: scale(1);
    }
  }

  // .modal__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
  }

  // .modal__content

  &__content {
    position: relative;
    width: 100%;
    background-color: $white;
    background-image: url(@img/bg.webp);
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    .lock & {
      visibility: visible;
    }
  }

  // .modal__close

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(142, 142, 142, 0.7);
    transform: translate(100%, -100%);
    @media (max-width: 48em) {
      top: -1.6rem;
      width: 8rem;
      height: 8rem;
      transform: translate(0, -100%);
    }
  }

  // .modal__close-icon

  &__close-icon {
    flex: 0 0 1.3rem;
    width: 1.3rem;
    height: 1.3rem;
    object-fit: contain;
    @media (max-width: 48em) {
      flex: 0 0 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

// --------------------------------------------------------------------------

.write-review-modal {
  .modal__content {
    padding: 8rem 4rem;
    @media (min-width: 48em) {
      padding: 8rem 12rem;
      max-width: 66.7rem;
    }
  }

  // .write-review-modal__form

  &__form {
    display: flex;
    flex-direction: column;
  }

  // .write-review-modal__title

  &__title {
    margin-bottom: 4rem;
    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .write-review-modal__rate

  &__rate {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
      column-gap: 2.4rem;
    }
  }

  // .write-review-modal__rate-txt

  &__rate-txt {
  }

  // .write-review-modal__rating

  &__rating {
  }

  // .write-review-modal__input

  &__input {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
    }
  }

  // .write-review-modal__text-input

  &__text-input {
    margin-bottom: 4.8rem;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .write-review-modal__btn

  &__btn {
    width: 100%;
  }
}

// --------------------------------------------------------------------------

.txt-info-modal {
  .modal__content {
    padding: 8rem 4rem;
    @media (min-width: 48em) {
      padding: 8rem 12rem;
      max-width: 66.7rem;
    }
  }

  // .txt-info-modal__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .txt-info-modal__title

  &__title {
    margin-bottom: 2rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
    }
  }

  // .txt-info-modal__text

  &__text {
    margin-bottom: 4.8rem;
    max-width: 42.7rem;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      max-width: 48rem;
      .txt-info-modal_confirm-acc-deletion & {
        max-width: 57rem;
      }
    }
  }

  // .txt-info-modal__btn

  &__btn {
    width: 100%;
  }
}

// --------------------------------------------------------------------------

.update-personal-data-modal,
.verify-code-modal,
.no-message-modal {
  @media (max-width: 48em) {
    padding: 0;
    .modal__content {
      height: 100%;
      min-height: 100vh;
    }
    .modal__close {
      position: static;
      margin-bottom: 17rem;
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0;
      backdrop-filter: none;
      background-color: transparent;
      transform: none;
      &::after {
        content: '';
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        background-image: url(@img/icons/cross-gray.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .modal__close-icon {
      display: none;
    }
  }
  .modal__content {
    @media (min-width: 48em) {
      max-width: 61.8rem;
    }
  }
}
.update-personal-data-modal__inner,
.verify-code-modal__inner {
  position: relative;
  padding: 6.4rem 3.4rem;
  overflow: hidden;
  @media (min-width: 48em) {
    padding: 18rem 6.8rem 8rem 6.8rem;
  }
}
.update-personal-data-modal__content,
.verify-code-modal__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.update-personal-data-modal__image-wrap,
.verify-code-modal__image-wrap {
  position: absolute;
  top: -16rem;
  right: -20rem;
  width: 50rem;
  height: 41rem;
  @media (max-width: 48em) {
    top: -20rem;
    right: -30rem;
    width: 64.2rem;
    height: 54.6rem;
  }
}

.update-personal-data-modal {
  // .update-personal-data-modal__inner

  &__inner {
  }

  // .update-personal-data-modal__content

  &__content {
  }

  // .update-personal-data-modal__title

  &__title {
    margin-bottom: 2.4rem;
    max-width: 20.7rem;
    .update-personal-data-modal_email & {
      max-width: none;
      span {
        display: block;
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      max-width: 23rem;
    }
  }

  // .update-personal-data-modal__text

  &__text {
    margin-bottom: 10rem;
    max-width: 70rem;
    .update-personal-data-modal_email & {
      max-width: 66rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 5.6rem;
      max-width: 42.2rem;
      .update-personal-data-modal_email & {
        max-width: 40rem;
      }
    }
  }

  // .update-personal-data-modal__form

  &__form {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $lightGray;
    @media (max-width: 48em) {
      padding-bottom: 2.4rem;
    }
  }

  // .update-personal-data-modal__input

  &__input {
    flex: 1 1 auto;
    &.input {
      padding: 0;
      padding-right: 2rem;
      border: none;
      @media (max-width: 48em) {
        padding-right: 4rem;
      }
    }
  }

  // .update-personal-data-modal__btn

  &__btn {
    .btn__text {
      white-space: nowrap;
    }
  }

  // .update-personal-data-modal__image-wrap

  &__image-wrap {
  }

  // .update-personal-data-modal__image

  &__image {
    height: 100%;
    object-fit: contain;
  }
}

// --------------------------------------------------------------------------

.verify-code-modal {
  // .verify-code-modal_phone-number

  &_phone-number {
  }

  // .verify-code-modal__inner

  &__inner {
  }

  // .verify-code-modal__content

  &__content {
  }

  // .verify-code-modal__title

  &__title {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .verify-code-modal__text

  &__text {
    margin-bottom: 0.8rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
      max-width: 47rem;
      .verify-code-modal_email & {
        max-width: 68rem;
      }
    }
  }

  // .verify-code-modal__text-number

  &__text-number {
    white-space: nowrpap;
  }

  // .verify-code-modal__link

  &__link {
    margin-bottom: 5.6rem;
    align-self: flex-start;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .verify-code-modal__form

  &__form {
    margin-bottom: 5.6rem;
    align-self: center;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .verify-code-modal__input-wrap

  &__input-wrap {
  }

  // .verify-code-modal__btn

  &__btn {
    margin-bottom: 5rem;
    align-self: center;
    width: 100%;
    .btn__text {
      display: none;
      white-space: nowrap;
      &:last-child {
        display: block;
      }
      @media (max-width: 48em) {
        font-size: 2.8rem;
      }
    }
    &:disabled {
      .btn__text {
        display: block;
        &:last-child {
          display: none;
        }
      }
    }
    @media (min-width: 48em) {
      margin-bottom: 2.4rem;
      min-width: 48.2rem;
      width: auto;
    }
  }

  // .verify-code-modal__message-btn

  &__message-btn {
    align-self: center;
  }

  // .verify-code-modal__image-wrap

  &__image-wrap {
  }

  // .verify-code-modal__image

  &__image {
  }
}

// --------------------------------------------------------------------------

.no-message-modal {
  &.modal {
    .modal__content {
      padding: 6.4rem 2.4rem;
    }
    @media (min-width: 48em) {
      .modal__content {
        padding: 8rem 6.8rem;
      }
    }
    @media (max-width: 48em) {
      .modal__close {
        margin-bottom: 6.4rem;
      }
    }
  }

  // .no-message-modal_phone-number

  &_phone-number {
  }

  // .no-message-modal__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .no-message-modal__title

  &__title {
    margin-bottom: 5.6rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .no-message-modal__head-text

  &__head-text {
    margin-bottom: 2.4rem;
    @media (min-width: 48em) {
      margin-bottom: 3.2rem;
      max-width: 48.2rem;
    }
  }

  // .no-message-modal__list

  &__list {
    padding-left: 2rem;
    display: flex;
    margin-bottom: 3.2rem;
    flex-direction: column;
    row-gap: 2.5rem;
    list-style: decimal;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
      padding-left: 4rem;
      row-gap: 3.5rem;
    }
  }

  // .no-message-modal__list-item

  &__list-item {
    list-style: decimal;
  }

  // .no-message-modal__list-text

  &__list-text {
  }

  // .no-message-modal__list-subtitle

  &__list-subtitle {
  }

  // .no-message-modal__link

  &__link {
    color: $red;
    text-decoration: underline $red;
  }

  // .no-message-modal__text

  &__text {
  }
}
