body::after {
  content: '';
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease 0s;
  .modal-show & {
    opacity: 0.4;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3rem 2.4rem;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.8s ease 0s;
  &.modal_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    &.modal_fs {
      .modal__content {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .modal__content {
      visibility: visible;
      transform: scale(1);
    }
  }

  // .modal__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
  }

  // .modal__content

  &__content {
    position: relative;
    width: 100%;
    background-color: $white;
    background-image: url(@img/bg.webp);
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    .modal_fs & {
      opacity: 0;
      transform: translateX(110vw);
      transition: opacity 0.3s ease, visibility 0.3s ease,
        transform 0.3s ease 0s;
    }
    .lock & {
      visibility: visible;
    }
  }

  // .modal__close

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(142, 142, 142, 0.7);
    transform: translate(100%, -100%);
    @media (max-width: 48em) {
      top: -1.6rem;
      width: 8rem;
      height: 8rem;
      transform: translate(0, -100%);
    }
  }

  // .modal__close-icon

  &__close-icon {
    flex: 0 0 1.3rem;
    width: 1.3rem;
    height: 1.3rem;
    object-fit: contain;
    @media (max-width: 48em) {
      flex: 0 0 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

// --------------------------------------------------------------------------

.write-review-modal {
  .modal__content {
    padding: 8rem 4rem;
    @media (min-width: 48em) {
      padding: 8rem 12rem;
      max-width: 66.7rem;
    }
  }

  // .write-review-modal__form

  &__form {
    display: flex;
    flex-direction: column;
  }

  // .write-review-modal__title

  &__title {
    margin-bottom: 4rem;
    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .write-review-modal__rate

  &__rate {
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
      column-gap: 2.4rem;
    }
  }

  // .write-review-modal__rate-txt

  &__rate-txt {
  }

  // .write-review-modal__rating

  &__rating {
  }

  // .write-review-modal__input

  &__input {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
    }
  }

  // .write-review-modal__text-input

  &__text-input {
    margin-bottom: 4.8rem;
    &._form-error {
      .text-input__field {
        border: 1px solid $red;
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .write-review-modal__btn

  &__btn {
    width: 100%;
  }
}

// --------------------------------------------------------------------------

.txt-info-modal {
  &_confirm-age {
    .modal__close {
      display: none;
      pointer-events: none;
    }
  }
  &_unconfirmed-age {
    .txt-info-modal__text {
      margin: 0;
    }
    .modal__close {
      display: none;
      pointer-events: none;
    }
  }
  .modal__content {
    padding: 8rem 4rem;
    @media (min-width: 48em) {
      padding: 8rem 12rem;
      max-width: 66.7rem;
      .txt-info-modal_request-sent & {
        padding: 8rem 10rem;
      }
    }
  }

  // .txt-info-modal__buttons

  &__buttons {
    display: flex;
    column-gap: 0.8rem;
    .txt-info-modal__btn {
      flex: 0 0 50%;
    }
    @media (max-width: 48em) {
      column-gap: 1.6rem;
      .btn__text.txt {
        font-size: 2.8rem;
      }
    }
  }

  // .txt-info-modal__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .txt-info-modal__title

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
      .txt-info-modal_confirm-email-letter & {
        max-width: 32rem;
      }
      .txt-info-modal_order-made & {
        margin-bottom: 4rem;
      }
    }
  }

  // .txt-info-modal__text

  &__text {
    margin-bottom: 4.8rem;
    max-width: 42.7rem;
    text-align: center;

    .txt-info-modal_order-made & {
      margin-bottom: 2.4rem;
    }
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      max-width: 48rem;
      .txt-info-modal_order-made & {
        margin-bottom: 4rem;
      }
      .txt-info-modal_confirm-acc-deletion &,
      .txt-info-modal_cancel-order & {
        max-width: 57rem;
      }
      .txt-info-modal_confirm-email-letter & {
        max-width: 52rem;
      }
      .txt-info-modal_request-sent & {
        max-width: 51rem;
      }
      .txt-info-modal_points-pay & {
        max-width: 60rem;
      }
    }
  }

  // .txt-info-modal__btn

  &__btn {
    width: 100%;
  }

  // .txt-info-modal__list

  &__list {
    margin-bottom: 4.8rem;
    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }
}

.list-txt-info-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
  @media (max-width: 48em) {
    row-gap: 4rem;
  }

  // .list-txt-info-modal__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    @media (max-width: 48em) {
      column-gap: 1.6rem;
    }
  }

  // .list-txt-info-modal__icon-wrap

  &__icon-wrap {
    flex: 0 0 2rem;
    width: 2rem;
    @media (max-width: 48em) {
      flex: 0 0 4rem;
      width: 4rem;
    }
  }

  // .list-txt-info-modal__icon

  &__icon {
    object-fit: contain;
  }

  // .list-txt-info-modal__text

  &__text {
  }
}

// --------------------------------------------------------------------------

.account-modal,
.verify-code-modal,
.no-message-modal {
  @media (max-width: 48em) {
    padding: 0;
    .modal__content {
      height: 100%;
      min-height: 100vh;
    }
    .modal__close {
      position: static;
      margin-bottom: 17rem;
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0;
      backdrop-filter: none;
      background-color: transparent;
      transform: none;
      &::after {
        content: '';
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        background-image: url(@img/icons/cross-gray.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .modal__close-icon {
      display: none;
    }
  }
  .modal__content {
    @media (min-width: 48em) {
      max-width: 61.8rem;
    }
  }
}
.account-modal__inner,
.verify-code-modal__inner {
  position: relative;
  padding: 6.4rem 3.4rem;
  overflow: hidden;
  @media (min-width: 48em) {
    padding: 18rem 6.8rem 8rem 6.8rem;
  }
}
.account-modal__content,
.verify-code-modal__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.account-modal__image-wrap,
.verify-code-modal__image-wrap {
  position: absolute;
  top: -16rem;
  right: -20rem;
  width: 50rem;
  height: 41rem;
  @media (max-width: 48em) {
    top: -20rem;
    right: -30rem;
    width: 64.2rem;
    height: 54.6rem;
  }
}

.account-modal {
  // .account-modal__inner

  &__inner {
  }

  // .account-modal__content

  &__content {
  }

  // .account-modal__title

  &__title {
    margin-bottom: 2.4rem;
    max-width: 20.7rem;
    .account-modal_email-login & {
      margin-bottom: 5.6rem;
    }
    .account-modal_email &,
    .account-modal_login &,
    .account-modal_reg &,
    .account-modal_email-login & {
      max-width: none;
      span {
        display: block;
      }
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      max-width: 23rem;
    }
  }

  // .account-modal__text

  &__text {
    margin-bottom: 10rem;
    max-width: 70rem;
    .account-modal_email & {
      max-width: 66rem;
    }
    .account-modal_restore-pass & {
      max-width: 58rem;
    }
    @media (min-width: 48em) {
      margin-bottom: 5.6rem;
      max-width: 42.2rem;
      .account-modal_email & {
        max-width: 40rem;
      }
      .account-modal_login &,
      .account-modal_reg & {
        max-width: 41rem;
      }
      .account-modal_restore-pass & {
        max-width: 35rem;
      }
    }
  }

  // .account-modal__form

  &__form {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
    .account-modal_login & {
      margin-bottom: 2.4rem;
    }
    .account-modal_reg &,
    .account-modal_email-login & {
      margin-bottom: 5.6rem;
    }
    .account-modal_email-login & {
      padding: 0;
      border: none;
    }
    @media (max-width: 48em) {
      padding-bottom: 2.4rem;
      .account-modal_reg &,
      .account-modal_email-login & {
        margin-bottom: 10rem;
      }
    }
  }

  // .account-modal__input

  &__input {
    flex: 1 1 auto;
    &.input {
      padding: 0;
      padding-right: 2rem;
      border: none;
      @media (max-width: 48em) {
        padding-right: 4rem;
      }
    }
  }

  // .account-modal__btn

  &__btn {
    .btn__text {
      white-space: nowrap;
    }
  }

  // .account-modal__image-wrap

  &__image-wrap {
  }

  // .account-modal__image

  &__image {
    height: 100%;
    object-fit: contain;
  }

  // .account-modal__login-methods

  &__login-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    .account-modal_email-login & {
      margin-bottom: 3.2rem;
      @media (max-width: 48em) {
        margin-bottom: 5rem;
      }
    }
  }

  // .account-modal__login-methods-txt

  &__login-methods-txt {
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    white-space: nowrap;
    &::before,
    &::after {
      content: '';
      flex: 0 0 1.6rem;
      width: 1.6rem;
      height: 1px;
      background-color: $black;
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      column-gap: 1.6rem;
      &::before,
      &::after {
        flex: 0 0 3.6rem;
        width: 3.6rem;
      }
    }
  }

  // .account-modal__login-methods-list

  &__login-methods-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2rem;
    @media (max-width: 48em) {
      column-gap: 2.4rem;
    }
  }

  // .account-modal__login-method

  &__login-method {
  }

  // .account-modal__link

  &__link {
    .account-modal_login & {
      margin-bottom: 3.2rem;
      @media (max-width: 48em) {
        margin-bottom: 10rem;
      }
    }
  }

  // .account-modal__checkboxes

  &__checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    .checkbox__text {
      column-gap: 3.4rem;
    }
    @media (min-width: 48em) {
      row-gap: 2.4rem;

      .checkbox__text {
        column-gap: 1.6rem;
        &::before {
          flex: 0 0 2.4rem;
          width: 2.4rem;
          height: 2.4rem;
        }
        &::after {
          top: 0.5rem;
          left: 0.5rem;
        }
      }
    }
  }

  // .email-login-form__tel-login-btn

  &__tel-login-btn {
    .account-modal_email-login & {
      align-self: center;
    }
  }
}

// --------------------------------------------------------------------------

.verify-code-modal {
  // .verify-code-modal_phone-number

  &_phone-number {
  }

  // .verify-code-modal__inner

  &__inner {
  }

  // .verify-code-modal__content

  &__content {
  }

  // .verify-code-modal__title

  &__title {
    margin-bottom: 2.4rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .verify-code-modal__text

  &__text {
    margin-bottom: 0.8rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
      max-width: 47rem;
      .verify-code-modal_email & {
        max-width: 68rem;
      }
    }
  }

  // .verify-code-modal__text-number

  &__text-number {
    white-space: nowrpap;
  }

  // .verify-code-modal__link

  &__link {
    margin-bottom: 5.6rem;
    align-self: flex-start;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .verify-code-modal__form

  &__form {
    margin-bottom: 5.6rem;
    align-self: center;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .verify-code-modal__input-wrap

  &__input-wrap {
  }

  // .verify-code-modal__btn

  &__btn {
    margin-bottom: 5rem;
    align-self: center;
    width: 100%;
    .btn__text {
      display: none;
      white-space: nowrap;
      &:last-child {
        display: block;
      }
      @media (max-width: 48em) {
        font-size: 2.8rem;
      }
    }
    &:disabled {
      .btn__text {
        display: block;
        &:last-child {
          display: none;
        }
      }
    }
    @media (min-width: 48em) {
      margin-bottom: 2.4rem;
      min-width: 48.2rem;
      width: auto;
    }
  }

  // .verify-code-modal__message-btn

  &__message-btn {
    align-self: center;
  }

  // .verify-code-modal__image-wrap

  &__image-wrap {
  }

  // .verify-code-modal__image

  &__image {
  }
}

// --------------------------------------------------------------------------

.no-message-modal {
  &.modal {
    .modal__content {
      padding: 6.4rem 2.4rem;
    }
    @media (min-width: 48em) {
      .modal__content {
        padding: 8rem 6.8rem;
      }
    }
    @media (max-width: 48em) {
      .modal__close {
        margin-bottom: 6.4rem;
      }
    }
  }

  // .no-message-modal_phone-number

  &_phone-number {
  }

  // .no-message-modal__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .no-message-modal__title

  &__title {
    margin-bottom: 5.6rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .no-message-modal__head-text

  &__head-text {
    margin-bottom: 2.4rem;
    @media (min-width: 48em) {
      margin-bottom: 3.2rem;
      max-width: 48.2rem;
    }
  }

  // .no-message-modal__list

  &__list {
    padding-left: 2rem;
    display: flex;
    margin-bottom: 3.2rem;
    flex-direction: column;
    row-gap: 2.5rem;
    list-style: decimal;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
      padding-left: 4rem;
      row-gap: 3.5rem;
    }
  }

  // .no-message-modal__list-item

  &__list-item {
    list-style: decimal;
  }

  // .no-message-modal__list-text

  &__list-text {
  }

  // .no-message-modal__list-subtitle

  &__list-subtitle {
  }

  // .no-message-modal__link

  &__link {
    color: $red;
    text-decoration: underline $red;
  }

  // .no-message-modal__text

  &__text {
  }
}

// --------------------------------------------------------------------------

.choose-store-modal {
  &.modal {
    .modal__content {
      padding: 8rem 2rem;
    }
    @media (min-width: 48em) {
      .modal__content {
        padding: 8rem 12rem;
        max-width: 107.1rem;
      }
    }
  }

  // .choose-store-modal__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .choose-store-modal__title

  &__title {
    margin-bottom: 4.8rem;
  }

  // .choose-store-modal__map

  &__map {
    margin-bottom: 6.4rem;
    height: 56rem;
    @media (max-width: 48em) {
      margin-bottom: 3.6rem;
      height: 88rem;
    }
  }

  // .choose-store-modal__options

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  // .choose-store-modal__option

  &__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
    .option__icon-wrap {
      flex: 0 0 3.2rem;
      column-gap: 1.6rem;
      @media (max-width: 48em) {
        flex: 0 0 5rem;
      }
    }
    .option__icon {
      width: 3.2rem;
      height: 3.2rem;
      path {
        transition: stroke 0.3s ease;
      }
      @media (max-width: 48em) {
        width: 5rem;
        height: 5rem;
      }
    }
    .option__text {
      row-gap: normal;
      flex-wrap: wrap;
      transition: color 0.3s ease;
    }
    .option__input:checked + .option__icon-wrap + .option__text {
      color: $red;
    }
    .option__input:checked + .option__icon-wrap {
      .option__icon path {
        stroke: $red;
      }
    }
    .option__text {
      &::before,
      &::after {
        content: none;
      }
    }
  }
}
