.account-page {
  margin-top: 5rem;
  @media (max-width: 48em) {
    margin-top: 0;
  }

  // .account-page__chapter

  &__chapter {
    margin-bottom: 16rem;
    @media (max-width: 48em) {
      margin-bottom: 20rem;
    }
  }

  // .account-page__container

  &__container {
  }

  // .account-page__inner

  &__inner {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: 25.3rem 1fr;
      column-gap: 2rem;
    }
  }

  // .account-page__content

  &__content {
  }

  // .account-page__personal-data

  &__personal-data {
  }

  // .account-page__group

  &__group {
    @media (max-width: 48em) {
      position: relative;
      margin-bottom: 5rem;
      width: 100%;
      .account-page_no-orders & {
        margin-bottom: 2rem;
      }
      &._visible-dropdown {
        .account-page__heading::after {
          transform: rotate(180deg);
        }
        .account-page__navbar {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  // .account-page__heading

  &__heading {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3.5rem;
    width: 100%;
    &::after {
      content: '';
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
      background-image: url(@img/icons/sm-arr.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }
    @media (min-width: 48em) {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------

.account-section {
  margin-bottom: 23.3rem;
  display: flex;
  flex-direction: column;
  .header & {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 4rem;
    min-width: 39.6rem;
    box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.18);
    background-color: $white;
    background-image: url(@img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: translate(12rem, 1.5rem);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  // .account-section__head

  &__head {
    margin-bottom: 9rem;
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      margin-bottom: 4rem;
    }
    .header & {
      margin-bottom: 3.6rem;
      display: block;
    }
  }

  // .account-section__head-group

  &__head-group {
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    .header & {
      margin: 0;
      column-gap: 1.6rem;
    }
  }

  // .account-section__user-avatar

  &__user-avatar {
    margin-right: 2.4rem;
    flex: 0 0 12rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    .header & {
      margin: 0;
    }
    @media (min-width: 48em) {
      flex: 0 0 6rem;
      width: 6rem;
      height: 6rem;
    }
  }

  // .account-section__user-avatar-image

  &__user-avatar-image {
    display: block;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }

  // .account-section__user-name

  &__user-name {
    margin-right: auto;
    max-width: 39rem;
    .header & {
      margin: 0;
    }
    @media (min-width: 48em) {
      max-width: 24rem;
    }
  }

  // .account-section__body

  &__body {
    margin-bottom: 8rem;
    .header & {
      padding: 3.6rem 0;
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
    }
    @media (min-width: 48em) {
      margin-bottom: 3.6rem;
    }
  }

  // .account-section__user-cashback

  &__user-cashback {
    .header & {
      display: none;
    }
  }

  // .account-section__user-sum

  &__user-sum {
    .header & {
      display: none;
    }
  }

  // .account-section__list

  &__list {
    display: flex;
    flex-direction: column;
    .header & {
      align-items: flex-start;
      row-gap: 2rem;
    }
  }

  // .account-section__link-item

  &__link-item {
    @media (any-hover: hover) {
      &:hover {
        .account-section__link {
          color: $red;
        }
      }
    }
    &:not(.header &, &:last-child) {
      border-bottom: 1px solid $lightGray;
    }
  }

  // .account-section__link

  &__link {
    transition: color 0.3s ease;
    &:not(.header &) {
      padding: 3.4rem 0;
      display: block;
      @media (min-width: 48em) {
        padding: 2.4rem 0;
      }
    }
  }

  // .account-section__footer

  &__footer {
  }

  // .account-section__logout-btn

  &__logout-btn {
  }
}

// --------------------------------------------------------------------------

.navbar-account-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 48em) {
    position: absolute;
    z-index: 2;
    top: calc(100% + 2rem);
    left: 0;
    padding: 4rem;
    align-items: stretch;
    width: 100%;
    box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.18);
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2%);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  // .navbar-account-page__navigation

  &__navigation {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      margin-bottom: 8rem;
      align-items: flex-start;
      row-gap: 2.5rem;
    }
  }

  // .navbar-account-page__link

  &__link {
    padding: 3.6rem 0;
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid $lightGray;
    }
    &._active {
      .navbar-account-page__link-txt {
        color: $red;
      }
    }
    @media (min-width: 48em) {
      padding: 0;
      &:not(:last-child) {
        border: none;
      }
      &._active {
        &::before {
          margin-right: 1.6rem;
          transform: scale(1);
        }
      }
      &::before {
        content: '';
        height: 2.4rem;
        width: 0.3rem;
        background-color: $red;
        transform: scale(0);
        transform-origin: center;
        transition: transform 0.3s ease, margin-right 0.3s ease;
      }
    }
  }

  // .navbar-account-page__link-txt

  &__link-txt {
    transition: color 0.3s ease;
  }

  // .navbar-account-page__logout-btn

  &__logout-btn {
    @media (max-width: 48em) {
      display: none;
    }
  }
}
