.orders-account {
  display: flex;
  flex-direction: column;

  // .orders-account__navigation

  &__navigation {
    margin-bottom: 5rem;
  }

  // .orders-account__main

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @media (max-width: 48em) {
      row-gap: 3.6rem;
    }
  }

  // .orders-account__order

  &__order {
  }
}

// --------------------------------------------------------------------------

.navigation-orders-account {
  @media (min-width: 48em) {
    &.swiper {
      margin-left: 0;
      margin-right: 0;
    }
  }
  // .navigation-orders-account__list

  &__list {
    display: flex;
    @media (min-width: 48em) {
      column-gap: 5rem;
    }
  }

  // .navigation-orders-account__item

  &__item {
  }

  // .navigation-orders-account__link

  &__link {
  }
}

// --------------------------------------------------------------------------

.order-account {
  display: flex;
  flex-direction: column;

  // .order-account__link

  &__link {
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    align-self: flex-start;
    color: $gray;
    &::before {
      content: '';
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
      background-image: url(@img/icons/arr-gray.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(-180deg);
    }
  }

  // .order-account__order

  &__order {
    margin-bottom: 6rem;
  }

  // .order-account__products

  &__products {
    display: flex;
    flex-direction: column;
  }

  // .order-account__head

  &__head {
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-end;
    column-gap: 1.2rem;
  }

  // .order-account__quantity

  &__quantity {
    color: $gray;
  }

  // .order-account__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

// --------------------------------------------------------------------------

.no-orders-account {
  display: flex;
  flex-direction: column;

  // .no-orders-account__hero

  &__hero {
    margin-bottom: 15rem;
    @media (max-width: 48em) {
      margin-bottom: 20rem;
    }
  }
}

// --------------------------------------------------------------------------

.orders-history-account {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9rem;
    row-gap: 11.4rem;
  }
}
