.blog {
  position: relative;
  @media (min-width: 1920px) {
    margin-bottom: 16rem;
  }

  // .blog__container

  &__container {
    position: relative;
    z-index: 2;
    padding-top: 21.7rem;
    padding-bottom: 24.1rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      &.container {
        padding: 33rem 2.4rem 20rem 2.4rem;
      }
    }
  }

  // .blog__title

  &__title {
    margin-bottom: 5.7rem;
    align-self: center;
    text-align: center;
    color: $white;
    @media (max-width: 48em) {
      margin-bottom: 10rem;
    }
  }

  // .blog__link

  &__link {
    margin-bottom: 7.7rem;
    align-self: center;
    color: $white;
    @media (max-width: 48em) {
      margin: 0;
      order: 1;
    }
  }

  // .blog__group

  &__group {
    margin-bottom: 6.4rem;
    display: grid;
    row-gap: 1.6rem;
    @media (min-width: 48em) {
      margin: 0;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2.1rem;
    }
  }

  // .blog__card

  &__card {
    .blog-card {
      @media (min-width: 48em) {
        &__date {
          right: 19%;
        }
        &__group {
          padding-right: 3.1rem;
        }
        &__image-wrap {
          width: 26rem;
          height: 26rem;
        }
      }
    }
  }

  // .blog__bg-image

  &__bg-image {
    height: 100%;
    object-fit: cover;
  }
}
