.loyalty-page {
  // .loyalty-page__coins

  &__coins {
    margin-bottom: 16rem;
    @media (max-width: 48em) {
      margin-bottom: 20rem;
    }
  }
}

// --------------------------------------------------------------------------

.coins-loyalty-page {
  position: relative;
  padding: 20rem 0;
  color: $white;

  // .coins-loyalty-page__container

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 18rem;
    @media (max-width: 48em) {
      flex-direction: column;
      gap: 10rem;
    }
  }

  // .coins-loyalty-page__column

  &__column {
    display: flex;
    flex-direction: column;
    &:first-child {
      .coins-loyalty-page__text {
        margin-bottom: 0.8rem;
        span {
          position: relative;
          &::after {
            @extend %hintMark;
            right: -0.6rem;
          }
        }
        @media (max-width: 48em) {
          margin-bottom: 1.4rem;
          span {
            &::after {
              top: 0.3rem;
              right: -1rem;
              transform: translate(100%, 0);
            }
          }
        }
      }
    }
  }

  // .coins-loyalty-page__heading

  &__heading {
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
    border-bottom: 1px solid $white;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      padding-bottom: 5rem;
    }
  }

  // .coins-loyalty-page__text

  &__text {
    margin-bottom: 2.4rem;
    max-width: 52.7rem;
    @media (max-width: 48em) {
      margin-bottom: 4rem;
      max-width: 70rem;
    }
  }

  // .coins-loyalty-page__hint

  &__hint {
    position: relative;
    margin-bottom: 3.2rem;
    padding-left: 2rem;
    color: $gray;
    &::before {
      @extend %hintMark;
      top: 0.1rem;
      left: 0.5rem;
      transform: none;
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      padding-left: 3rem;
      &::before {
        top: 0.8rem;
      }
    }
  }

  // .coins-loyalty-page__bold-text

  &__bold-text {
    max-width: 52.7rem;
    @media (max-width: 48em) {
      max-width: 70rem;
    }
  }
}
