.faqs {
  // .faqs__container

  &__container {
    display: flex;
    column-gap: 2.7rem;
    &:not(.loyalty-page__faqs &) {
      padding: 5.6rem;
      box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.05);
      background-color: $white;
    }
    @media (max-width: 48em) {
      padding: 10rem 3.6rem;
      flex-direction: column;
    }
  }

  // .faqs__heading

  &__heading {
    margin-bottom: 6.4rem;
    @media (min-width: 48em) {
      margin: 0;
      max-width: 40.8rem;
    }
  }

  // .faqs__accordion

  &__accordion {
    @media (min-width: 48em) {
      flex: 1 1 auto;
    }
    @media (max-width: 48em) {
      .loyalty-page__faqs & {
        .accordion__title,
        .accordion__body {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
    }
  }
}
