.hero {
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -2rem;
    right: 0;
    width: 44rem;
    height: 44rem;
    background-image: url('@img/hero/circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.35;
    transform: translateX(55%);
  }
  @media (min-width: 48em) {
    position: relative;
    margin-bottom: 25rem;
    &::after {
      bottom: 0;
      width: 57rem;
      height: 57rem;
      opacity: 0.6;
      transform: translate(43%, 13%);
    }
  }

  // .hero__container

  &__container {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (max-width: 48em) {
      &.container {
        padding: 6.4rem 2.4rem 0 2.4rem;
      }
    }
  }

  // .hero__head

  &__head {
    position: relative;
    z-index: 2;
    margin-bottom: 6.6rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 48em) {
      margin-bottom: 17rem;
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }

  // .hero__sl-control

  &__sl-control {
    @media (max-width: 48em) {
      .sl-pagination {
        .swiper-pagination-bullet {
          display: none;
        }
        .swiper-pagination-bullet-active {
          display: block;
        }
      }
    }
  }

  // .hero__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    @media (min-width: 48em) {
      align-items: flex-end;
      text-align: right;
      row-gap: 2.8rem;
    }
  }

  // .hero__subtitle

  &__subtitle {
  }

  // .hero__text

  &__text {
    max-width: 24.9rem;
    @media (max-width: 48em) {
      max-width: 43.6rem;
    }
  }

  // .hero__body

  &__body {
    @media (max-width: 48em) {
      position: relative;
      .sl-nav {
        display: none;
        &__arrow {
          position: absolute;
          z-index: 2;
          top: 13rem;
          &_prev {
            left: 0;
          }
          &_next {
            right: 0;
          }
        }
      }
    }
  }

  // .hero__slider

  &__slider {
    @extend .swiper-fade;

    &.swiper {
      overflow: visible;
    }
  }

  // .hero__wrapper

  &__wrapper {
    @media (min-width: 48em) {
      max-height: 100vh;
    }
  }

  // .hero__slide

  &__slide {
  }
}

// --------------------------------------------------------------------------

.slide-hero {
  &.swiper-slide {
    display: flex;
    flex-direction: column-reverse;
  }
  @media (min-width: 48em) {
    &.swiper-slide {
      display: grid;
      grid-template-columns: 5fr 2fr 5fr;
      align-items: end;
    }
  }

  // .slide-hero__title-wrap

  &__title-wrap {
    margin-bottom: 3.2rem;
    @media (min-width: 48em) {
      margin: 0;
      display: flex;
      column-gap: 4.8rem;
    }
  }

  // .slide-hero__number

  &__number {
    transform: translateY(1rem);
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .slide-hero__title

  &__title {
    max-width: 48.1rem;
    @media (max-width: 48em) {
      max-width: 43rem;
    }
  }

  // .slide-hero__image-wrap

  &__image-wrap {
    position: relative;
    justify-self: center;
    width: 20rem;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 26rem;
      left: 50%;
      width: 70.5rem;
      height: 58rem;
      background-image: url('@img/hero/13844fcb4f455e23cae3f403d6c79dab.webp');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      align-self: center;
      width: 14.2rem;
      &::before {
        bottom: 15.6rem;
        width: 49.2rem;
        height: 40.2rem;
      }
    }
  }

  // .slide-hero__image

  &__image {
    object-fit: contain;
    @media (min-width: 48em) {
      transform: translateY(-4rem);
    }
  }

  // .slide-hero__link

  &__link {
    @media (max-width: 48em) {
      margin-bottom: 1rem;
      align-self: flex-start;
      order: -1;
      transform: translateX(12rem);
    }
    @media (min-width: 48em) {
      justify-self: end;
      transform: translate(-9.7rem, -21rem);
    }
  }
}
