.hero-product {
  margin-bottom: 31rem;
  @media (max-width: 48em) {
    margin-bottom: 20rem;
  }

  // .hero-product__container

  &__container {
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      &.container {
        padding: 0;
      }
    }
  }

  // .hero-product__breadcrumbs

  &__breadcrumbs {
    margin-bottom: 2rem;
    @media (max-width: 48em) {
      margin-bottom: 3.5rem;
      padding: 0 2.4rem;
    }
  }

  // .hero-product__main

  &__main {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 15.7rem;
    }
  }

  // .hero-product__preview

  &__preview {
    position: relative;
    @media (min-width: 48em) {
      display: flex;
      flex-direction: column;
    }
  }

  // .hero-product__row

  &__row {
    margin-bottom: 3.4rem;
    @media (min-width: 48em) {
      margin-bottom: 4.4rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  // .hero-product__badges

  &__badges {
    margin-bottom: 3.4rem;
    padding: 0 2.4rem;
    display: flex;
    column-gap: 0.8rem;
    @media (min-width: 48em) {
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 0.4rem;
    }
  }

  // .hero-product__heart-btn

  &__heart-btn {
    @media (max-width: 48em) {
      position: absolute;
      top: 2rem;
      right: 2.4rem;
    }
  }

  // .hero-product__image-wrap

  &__image-wrap {
    margin-bottom: 6.8rem;
    align-self: center;
    height: 38.2rem;
    @media (max-width: 48em) {
      margin-bottom: 9rem;
      height: 44rem;
    }
  }

  // .hero-product__image

  &__image {
    height: 100%;
    object-fit: contain;
  }

  // .hero-product__group

  &__group {
    padding: 0 2.4rem;
    display: grid;
    gap: 2rem;
    @media (min-width: 48em) {
      padding: 0;
      grid-template-columns: repeat(2, 39rem);
    }
  }

  // .hero-product__promotion

  &__promotion {
  }

  // .hero-product__select-store

  &__select-store {
  }

  // .hero-product__details

  &__details {
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      display: grid;
    }
  }

  // .hero-product__highlights

  &__highlights {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 3.7rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    @media (max-width: 48em) {
      margin-bottom: 4rem;
      padding: 0 2.4rem;
      column-gap: 4rem;
    }
  }

  // .hero-product__highlight

  &__highlight {
    color: $gray;
    &:not(:last-child) {
      position: relative;
      &::after {
        content: '|';
        position: absolute;
        top: 50%;
        right: -2rem;
        font-size: 1.6rem;
        line-height: 137.5%;
        font-weight: 400;
        color: $gray;
        transform: translateY(-50%);
      }
    }
  }

  // .hero-product__title

  &__title {
    margin-bottom: 3.4rem;
    @media (max-width: 48em) {
      margin-bottom: 3rem;
      padding: 0 2.4rem;
      order: -1;
    }
  }

  // .hero-product__reviews

  &__reviews {
    margin-bottom: 2.6rem;
    display: flex;
    align-items: center;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      padding: 0 2.4rem;
    }
  }

  // .hero-product__grade

  &__grade {
    margin-right: 1rem;
    @media (max-width: 48em) {
      margin-right: 1.6rem;
    }
  }

  // .hero-product__reviews-text

  &__reviews-text {
    margin-right: 2.5rem;
    color: $gray;
    transition: color 0.3s ease;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        color: $red;
      }
    }
    @media (max-width: 48em) {
      margin-right: 3.4rem;
    }
  }

  // .hero-product__coins

  &__coins {
  }

  // .hero-product__characteristics

  &__characteristics {
    margin-bottom: 4rem;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
      padding: 0 2.4rem;
    }
  }

  // .hero-product__options

  &__options {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
      grid-row: 5/6;
      width: calc(100vw - 4.8rem);
    }
  }

  // .hero-product__options-heading-wrap

  &__options-heading-wrap {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
      padding: 0 2.4rem;
      column-gap: 1.2rem;
    }
  }

  // .hero-product__options-heading

  &__options-heading {
  }

  // .hero-product__options-hint

  &__options-hint {
  }

  // .hero-product__options-btns

  &__options-btns {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 4rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    @media (max-width: 48em) {
      padding: 0 2.4rem;
      column-gap: 5rem;
      min-width: 100vw;
    }
  }

  // .hero-product__option

  &__option {
    padding-bottom: 0.1rem;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    color: $gray;
    white-space: nowrap;
    &._active {
      color: $red;
      border-bottom: 2px solid $red;
    }
    @media (max-width: 48em) {
      font-size: 3rem;
    }
  }

  // .hero-product__total

  &__total {
    margin-bottom: 6.4rem;
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 48em) {
      margin-bottom: 3.2rem;
      padding: 0;
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 2.4rem;
    }
  }

  // .hero-product__price

  &__price {
    column-gap: 1.6rem;
    .price__value {
      font-size: 3rem;
    }
    @media (max-width: 48em) {
      flex-direction: column;
      row-gap: 0.8rem;
      .price__value {
        font-size: 4rem;
      }
    }
  }

  // .hero-product__quantity

  &__quantity {
  }

  // .hero-product__btn

  &__btn {
    width: 100%;
    @media (max-width: 48em) {
      margin: 0 2.4rem;
      margin-bottom: 6.4rem;
      width: auto;
    }
  }
}
