.location {
  margin-bottom: 16rem;
  @media (max-width: 48em) {
    margin-bottom: 18rem;
  }

  // .location__container

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  // .location__title

  &__title {
    margin-bottom: 10rem;
    span {
      color: $black;
    }
    @media (min-width: 48em) {
      position: absolute;
      z-index: 2;
      top: 14.4rem;
      left: 0;
      margin: 0;
      span {
        display: block;
      }
    }
  }

  // .location__map

  &__map {
    height: 88rem;
    width: 100%;
    cursor: grab;
    @media (min-width: 48em) {
      align-self: flex-end;
      height: 56rem;
      width: 148.3rem;
    }
  }

  // .location__info

  &__info {
    display: flex;
    justify-content: space-between;
    @media (min-width: 48em) {
      align-self: flex-end;
      width: 148.3rem;
    }
  }

  // .location__text

  &__text {
    padding-left: 6.5rem;
    @media (min-width: 48em) {
      padding: 0;
      max-width: 25.3rem;
      transform: translateY(5rem);
    }
  }

  // .location__panel

  &__panel {
    position: relative;
    z-index: 2;
    padding: 3.4rem 3rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    @media (min-width: 48em) {
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: translateY(-11rem);
    }
  }

  // .location__image-wrap

  &__image-wrap {
    width: 32rem;
    height: 24rem;
  }

  // .location__image

  &__image {
    height: 100%;
    object-fit: cover;
  }

  // .location__text-wrap

  &__text-wrap {
    margin-bottom: 1.2rem;
    display: flex;
    background-color: $white;
    @media (min-width: 48em) {
      margin: 0;
      padding: 5rem;
      align-self: flex-end;
    }
  }

  // .location__address-txt

  &__address-txt {
    @media (max-width: 48em) {
      span {
        margin-right: 1rem;
        font-weight: 500;
      }
    }
  }

  // .location__address

  &__address {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      margin-right: 0.8rem;
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
      background-image: url(@img/icons/location.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    @media (max-width: 48em) {
      &::before {
        margin-right: 1.3rem;
        flex: 0 0 4.5rem;
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }
}
