.promo {
  position: relative;
  @media (min-width: 1920px) {
    margin-bottom: 16rem;
    width: 104vw;
    transform: translateX(calc((104vw - 1920px) / -2));
    overflow: hidden;
    &::after {
      background-size: cover;
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 4rem);
    height: 100%;
    top: 0;
    left: -4rem;
    background-image: url(@img/bg/bffabb6a1187159308cf61dac3363771.webp);
    background-repeat: no-repeat;
    @media (max-width: 48em) {
      background-size: cover;
    }
  }

  // .promo__container

  &__container {
    position: relative;
    z-index: 2;
    display: grid;
    row-gap: 1.6rem;
    &.container {
      padding-top: 21.7rem;
      padding-bottom: 21.8rem;
    }
    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 6fr);
      column-gap: 2rem;
    }
    @media (max-width: 48em) {
      &.container {
        padding: 20rem 2.4rem;
      }
    }
  }

  // .promo__ambassadors

  &__ambassadors {
  }

  // .promo__bg-image

  &__bg-image {
    height: 100%;
    object-fit: cover;
  }

  // .promo__app

  &__app {
  }
}

// --------------------------------------------------------------------------

.ambassadors-promo {
  padding: 4.8rem 4.8rem 0 4.8rem;
  display: flex;
  flex-direction: column;
  background-color: $red;
  overflow: hidden;
  @media (max-width: 48em) {
    padding: 5rem 3.4rem 0 3.4rem;
  }

  // .ambassadors-promo__head

  &__head {
    margin-bottom: 12.8rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 48em) {
      margin-bottom: 3rem;
      align-items: center;
    }
  }

  // .ambassadors-promo__title

  &__title {
    color: $white;
  }

  // .ambassadors-promo__arrow

  &__arrow {
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
    @media (min-width: 48em) {
      align-self: flex-end;
      flex: 0 0 4rem;
      width: 4rem;
      height: 4rem;
    }
  }

  // .ambassadors-promo__body

  &__body {
    position: relative;
  }

  // .ambassadors-promo__card

  &__card {
    padding: 1.2rem 1.2rem 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    width: 42.4rem;
    background-color: $white;
    &_rotated {
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;
      padding: 1.2rem 1.2rem 4.8rem 1.2rem;
      transform: rotate(3deg) translateY(1rem);
    }
    @media (max-width: 48em) {
      padding: 2.4rem 2.4rem 8rem 2.4rem;
      width: 38rem;
      &_rotated {
        padding: 2.4rem 2.4rem 8rem 2.4rem;
        transform: rotate(6deg) translate(-2rem, 4rem);
      }
    }
  }

  // .ambassadors-promo__image-wrap

  &__image-wrap {
    margin-bottom: 2.8rem;
    height: 20.8rem;
    width: 100%;
    .ambassadors-promo__card_rotated & {
      height: 24rem;
    }
    @media (max-width: 48em) {
      margin-bottom: 3.4rem;
      height: 19rem;
      .ambassadors-promo__card_rotated & {
        height: 17rem;
      }
    }
  }

  // .ambassadors-promo__image

  &__image {
    height: 100%;
    object-fit: cover;
  }

  // .ambassadors-promo__heading

  &__heading {
    margin-bottom: 2rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
    }
  }

  // .ambassadors-promo__text

  &__text {
  }
}

// --------------------------------------------------------------------------

.app-promo {
  position: relative;
  padding: 8rem 1rem 7rem 4.8rem;
  background-color: $white;
  overflow: hidden;
  user-select: none;
  @media (max-width: 48em) {
    padding: 5rem 3.4rem 0 3.4rem;
  }

  // .app-promo__text-wrap

  &__text-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .app-promo__title

  &__title {
    margin-bottom: 2.4rem;
    @media (min-width: 48em) {
      margin-bottom: 3.2rem;
      max-width: 35rem;
    }
  }

  // .app-promo__text

  &__text {
    margin-bottom: 4.8rem;
    @media (max-width: 48em) {
      margin-bottom: 8rem;
    }
  }

  // .app-promo__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    @media (max-width: 48em) {
      margin-bottom: 16rem;
    }
  }

  // .app-promo__group-item

  &__group-item {
    width: 20.5rem;
    border-radius: 1rem;
    @media (max-width: 48em) {
      width: 24rem;
    }
  }

  // .app-promo__group-img

  &__group-img {
    object-fit: contain;
  }

  // .app-promo__image-wrap

  &__image-wrap {
    position: absolute;
    bottom: -8.8rem;
    right: 4rem;
    width: 32.5rem;
    width: 32.5rem;
    transform: rotate(6deg);
    @media (max-width: 48em) {
      bottom: -22.8rem;
      right: 5rem;
      width: 31rem;
      height: 62rem;
    }
  }

  // .app-promo__image

  &__image {
    object-fit: contain;
  }
}
