.recommendations {
  @media (min-width: 48em) {
    margin-bottom: 16rem;
  }

  // .recommendations__container

  &__container {
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      align-items: flex-start;
    }
  }

  // .recommendations__head

  &__head {
    margin-bottom: 4rem;
    display: grid;
    @media (min-width: 48em) {
      margin-bottom: 7rem;
      grid-template-columns: 3fr 6fr 3fr;
      align-items: center;
    }
  }

  // .recommendations__link

  &__link {
    margin-bottom: 10rem;
    @media (min-width: 48em) {
      margin-bottom: 7rem;
      align-self: center;
    }
  }

  // .recommendations__number

  &__number {
    @extend .sl-pagination;
    font-size: 2rem;
    font-weight: 900;
  }

  // .recommendations__title

  &__title {
    @media (min-width: 48em) {
      justify-self: center;
      text-align: center;
    }
  }

  // .recommendations__sl-control

  &__sl-control {
    justify-self: end;
  }

  // .recommendations__body

  &__body {
    width: 192rem;
    @media (max-width: 48em) {
      align-self: stretch;
      width: calc(100vw - 2.4rem);
    }
  }

  // .recommendations__carousel

  &__carousel {
    @media (min-width: 48em) {
      position: relative;
      height: 52.8rem;
      width: 162rem;
    }
  }

  // .recommendations__slider

  &__slider {
    @media (min-width: 48em) {
      position: absolute;
      top: 0;
      left: 0;
      width: 206rem;
    }
  }

  // .recommendations__wrapper

  &__wrapper {
  }

  // .recommendations__product-card

  &__product-card {
    &.swiper-slide {
      transition: opacity 0.4s ease;
      &:not(&._revealed) {
        opacity: 0.5;
      }
      &._revealed {
        opacity: 1;
      }
    }
  }
}
