.shopify-section {
  @media (min-width: 48em) {
    margin-bottom: 16rem;
    overflow: hidden;
    .catalog-page & {
      margin-bottom: 26rem;
    }
  }

  // .shopify-section__container

  &__container {
    display: flex;
    flex-direction: column;
    @media (max-width: 48em) {
      align-items: flex-start;
    }
  }

  // .shopify-section__head

  &__head {
    margin-bottom: 4rem;
    display: grid;
    @media (min-width: 48em) {
      margin-bottom: 7rem;
      grid-template-columns: 3fr 6fr 3fr;
      align-items: center;
      .shopify-section_group & {
        margin-bottom: 2.4rem;
      }
    }
  }

  // .shopify-section__link

  &__link,
  &__text {
    margin-bottom: 10rem;
    @media (min-width: 48em) {
      margin-bottom: 7rem;
      align-self: center;
    }
  }

  // .shopify-section__number

  &__number {
    font-size: 2rem;
    font-weight: 900;
    user-select: none;
  }

  // .shopify-section__title

  &__title {
    @media (min-width: 48em) {
      justify-self: center;
      text-align: center;
    }
  }

  // .shopify-section__sl-control

  &__sl-control {
    justify-self: end;
  }

  // .shopify-section__body

  &__body {
    width: 192rem;
    @media (max-width: 48em) {
      align-self: stretch;
      width: calc(100vw - 2.4rem);
    }
  }

  // .shopify-section__carousel

  &__carousel {
    @media (min-width: 48em) {
      position: relative;
      width: 162rem;
    }
  }

  // .shopify-section__slider

  &__slider {
    @media (min-width: 48em) {
      position: absolute;
      top: 0;
      left: 0;
      width: 206rem;
    }
  }

  // .shopify-section__wrapper

  &__wrapper {
  }

  // .shopify-section__slide

  &__slide {
    user-select: none;
    &.swiper-slide {
      transition: opacity 0.4s ease;
      will-change: contents;
      &:not(&._revealed) {
        opacity: 0.5;
      }
      &._revealed {
        opacity: 1;
      }
    }
  }
}
