.tags-product {
  margin-bottom: 26rem;
  @media (max-width: 48em) {
    margin-bottom: 20rem;
  }

  // .tags-product__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .tags-product__title

  &__title {
    margin-bottom: 6.4rem;
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
    }
  }

  // .tags-product__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    @media (max-width: 48em) {
      row-gap: 6.4rem;
    }
  }

  // .tags-product__row

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 3.4rem;
    @media (min-width: 48em) {
      flex-direction: row;
      align-items: center;
      column-gap: 4rem;
      row-gap: normal;
    }
  }

  // .tags-product__subtitle

  &__subtitle {
  }

  // .tags-product__group

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  // .tags-product__tag

  &__tag {
    padding: 1rem 5.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 6.4rem;
    border-radius: 3.2rem;
    background-color: $lightGray;
    white-space: nowrap;
    @media (max-width: 48em) {
      padding: 2rem 6rem;
      height: 9rem;
      border-radius: 6.4rem;
    }
  }
}
