.tests {
  margin-bottom: 16rem;

  // .tests__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .tests__slider

  &__slider {
    &.swiper {
      overflow: visible;
    }
    @media (min-width: 48em) {
      width: 162rem;
    }
  }

  // .tests__wrapper

  &__wrapper {
  }

  // .tests__slide

  &__slide {
    &.swiper-slide {
      opacity: 0.5;
      transition: opacity 0.4s ease;
    }
    &.swiper-slide-active {
      opacity: 1;
    }
  }

  // .tests__carousel

  &__carousel {
    @media (max-width: 48em) {
      margin-bottom: 7.4rem;
    }
  }

  // .tests__footer

  &__footer {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    @media (min-width: 48em) {
      align-self: flex-end;
      transform: translateY(-7rem);
    }
    @media (max-width: 48em) {
      justify-content: space-between;
    }
  }

  // .tests__active-number

  &__active-number {
    @media (min-width: 48em) {
      margin-right: 56.8rem;
      font-size: 2rem;
      user-select: none;
    }
  }

  // .tests__sl-control

  &__sl-control {
    @media (max-width: 48em) {
      .sl-control__nav {
        display: none;
      }
      .sl-control__pagination {
        .swiper-pagination-bullet {
          &.swiper-pagination-bullet-active {
            font-size: 3rem;
          }
          &:not(&.swiper-pagination-bullet-active) {
            color: $gray;
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------------

.slide-tests {
  &.swiper-slide {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: repeat(2, 6fr);
    }
  }

  // .slide-tests__images

  &__images {
    position: relative;
    @media (max-width: 48em) {
      align-self: center;
      order: 1;
      transform: translateX(-10rem);
    }
  }

  // .slide-tests__image-wrap

  &__image-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $white;

    // .slide-tests__image-wrap_large

    &_large {
      padding: 2rem 2rem 0 2rem;
      width: 52.6rem;
      height: 68.8rem;
      transform: rotate(-6deg);
      .slide-tests__image-content {
        height: 59.7rem;
      }
      @media (max-width: 48em) {
        width: 42.5rem;
        height: 53rem;
        .slide-tests__image-content {
          height: 41.5rem;
        }
      }
    }

    // .slide-tests__image-wrap_small

    &_small {
      position: absolute;
      top: 10rem;
      right: 17rem;
      padding: 1.3rem 1.3rem 0 1.3rem;
      width: 31rem;
      height: 40.5rem;
      transform: rotate(10deg);
      .slide-tests__image-content {
        height: 35.2rem;
      }
      @media (max-width: 48em) {
        top: 4rem;
        right: -16rem;
        width: 27rem;
        height: 32.5rem;
        transform: rotate(6deg);
        .slide-tests__image-content {
          height: 26.5rem;
        }
      }
    }
  }

  // .slide-tests__image-content

  &__image-content {
    width: 100%;
  }

  // .slide-tests__image

  &__image {
    height: 100%;
    object-fit: cover;
  }

  // .slide-tests__subheading

  &__subheading {
    position: absolute;
    bottom: 2.5rem;
    left: 2rem;
    color: $gray;
    transform: skewX(-1deg);
    @media (max-width: 48em) {
      bottom: 3rem;
    }
  }

  // .slide-tests__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .slide-tests__subtitle

  &__subtitle {
    margin-bottom: 11rem;
    color: $gray;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .slide-tests__heading

  &__heading {
    margin-bottom: 3rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
    }
  }

  // .slide-tests__text

  &__text {
    margin-bottom: 12rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .slide-tests__link

  &__link {
    margin-bottom: auto;
    transform: translateX(12rem);
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      transform: translateX(13rem);
    }
  }
}
