.tests {
  margin-bottom: 16rem;
  @media (min-width: 48em) {
    padding-top: 4rem;
    overflow: hidden;
  }

  // .tests__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .tests__slider

  &__slider {
    &.swiper {
      overflow: visible;
    }
    @media (min-width: 48em) {
      width: 162rem;
    }
  }

  // .tests__wrapper

  &__wrapper {
  }

  // .tests__slide

  &__slide {
    &.swiper-slide {
      opacity: 0.5;
      transition: opacity 0.4s ease;
    }
    &.swiper-slide-active {
      opacity: 1;
    }
  }

  // .tests__carousel

  &__carousel {
    @media (max-width: 48em) {
      margin-bottom: 7.4rem;
    }
  }

  // .tests__footer

  &__footer {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    @media (min-width: 48em) {
      align-self: flex-end;
      transform: translateY(-7rem);
    }
    @media (max-width: 48em) {
      justify-content: space-between;
    }
  }

  // .tests__active-number

  &__active-number {
    @media (min-width: 48em) {
      margin-right: 53rem;
      font-size: 2rem;
      user-select: none;
    }
  }

  // .tests__sl-control

  &__sl-control {
    @media (max-width: 48em) {
      .sl-control__nav {
        display: none;
      }
      .sl-control__pagination {
        .swiper-pagination-bullet {
          &.swiper-pagination-bullet-active {
            font-size: 3rem;
          }
          &:not(&.swiper-pagination-bullet-active) {
            color: $gray;
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------------

.slide-tests {
  user-select: none;
  &.swiper-slide {
    display: flex;
    flex-direction: column;
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: repeat(2, 6fr);
    }
  }

  // .slide-tests__images

  &__images {
  }

  // .slide-tests__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .slide-tests__subtitle

  &__subtitle {
    margin-bottom: 11rem;
    color: $gray;
    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .slide-tests__heading

  &__heading {
    margin-bottom: 3rem;
    @media (max-width: 48em) {
      margin-bottom: 2.4rem;
    }
  }

  // .slide-tests__text

  &__text {
    margin-bottom: 12rem;
    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .slide-tests__link

  &__link {
    margin-bottom: auto;
    transform: translateX(12rem);
    @media (max-width: 48em) {
      margin-bottom: 5rem;
      transform: translateX(13rem);
    }
  }
}
