// form
@import '../components/form/form';

// spoilers
@import '../components/spoilers';

// --------------------------------------------------------------------------

// map
@import '../libs/map';

// swiper
@import '../libs/swiper';

// simplebar
@import '../libs/simplebar';

// --------------------------------------------------------------------------

[data-showmore-btn] {
  span {
    &:last-child {
      display: none;
    }
    ._show-all & {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}

%showLess {
  @media (min-width: 48em) {
    position: absolute;
    top: -110vh;
    left: -110vw;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
%showMore {
  @media (min-width: 48em) {
    position: static;
    width: auto;
    opacity: 1;
  }
}
