// form
@import '../components/form/form';

// spoilers
@import '../components/spoilers';

// --------------------------------------------------------------------------

// map
@import '../libs/map';

// swiper
@import '../libs/swiper';

// simplebar
@import '../libs/simplebar';

// --------------------------------------------------------------------------

[data-showmore-btn] {
  span {
    &:last-child {
      display: none;
    }
    ._show-all & {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}

%showLess {
  @media (min-width: 48em) {
    position: absolute;
    top: -110vh;
    left: -110vw;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
%showMore {
  @media (min-width: 48em) {
    position: static;
    width: auto;
    opacity: 1;
  }
}
%bg {
  content: '';
  position: absolute;
  z-index: -1;
  top: -17.4rem;
  left: calc((100vw - 162rem) / -2);
  width: 100vw;
  height: calc(100% + 17.4rem);
  box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.18);
  background-color: $white;
  background-image: url(@img/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
