.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // .category-card__number

  &__number {
    @extend .sl-pagination;
    margin-bottom: 5rem;
    color: $gray;
  }

  // .category-card__image-wrap

  &__image-wrap {
    position: relative;
    margin-bottom: 5.2rem;
    height: 36.9rem;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 4.7rem;
      left: 50%;
      width: 25rem;
      height: 25rem;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }

    // .category-card__image-wrap_red

    &_red {
      &::before {
        background-image: url('@img/colors/red.webp');
      }
    }

    // .category-card__image-wrap_white

    &_white {
      &::before {
        background-image: url('@img/colors/white.webp');
      }
    }

    // .category-card__image-wrap_pink

    &_pink {
      &::before {
        background-image: url('@img/colors/pink.webp');
      }
    }

    // .category-card__image-wrap_black

    &_black {
      &::before {
        background-image: url('@img/colors/black.webp');
      }
    }
  }

  // .category-card__image

  &__image {
    filter: url(#drop-shadow-2);
    height: 100%;
    object-fit: contain;
  }

  // .category-card__heading

  &__heading {
    margin-bottom: 2rem;
    flex: 1 1 auto;
  }

  // .category-card__text

  &__text {
    color: $gray;
  }
}

.product-card {
  position: relative;
  background-color: #ffffff;

  // .product-card__body

  &__body {
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    min-height: 52.8rem;
    overflow: hidden;
  }

  // .product-card__head

  &__head {
    margin-bottom: 2.5rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .product-card__year

  &__year {
    color: $gray;
  }

  // .product-card__heart

  &__heart {
    flex: 0 0 4.8rem;
    height: 4.8rem;
  }

  // .product-card__heart-icon

  &__heart-icon {
    width: 4.8rem;
    height: 4.8rem;
    path {
      transition: fill 0.3s ease;
    }
    &._active {
      path {
        fill: $red;
      }
    }
  }

  // .product-card__info

  &__info {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  // .product-card__type

  &__type {
  }

  // .product-card__price

  &__price {
    @extend .sl-pagination;
  }

  // .product-card__heading

  &__heading {
    position: absolute;
    top: 16.6rem;
    right: 0;
    max-width: 16.9rem;
    user-select: none;
    transform: translateX(12rem);
  }

  // .product-card__image-wrap

  &__image-wrap {
    position: relative;
    z-index: 2;
    align-self: center;
    height: 33.1rem;
  }

  // .product-card__image

  &__image {
    height: 100%;
    object-fit: contain;
    transform: translateY(-2.5rem);
  }

  // .product-card__bg

  &__bg {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 34.9rem;
    transform: translateY(4rem);
  }

  // .product-card__bg-image

  &__bg-image {
    object-fit: contain;
  }

  // .product-card__basket

  &__basket {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6.4rem;
    height: 6.4rem;
    background-color: $black;
  }

  // .product-card__basket-icon

  &__basket-icon {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
  }
}

.privilege-card {
  padding: 0 4.3rem 6rem 4.3rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  &_experts {
    .privilege-card__number {
      background-image: url('@img/bg/abd4880a7a6501a53ad73b558558ee94.webp');
    }
  }
  &_tasting {
    .privilege-card__number {
      background-image: url('@img/bg/061c0522450b9f794652b44ccabefc2d.webp');
    }
  }
  &_bonuses {
    .privilege-card__number {
      background-image: url('@img/bg/4be6194940bc6272f6f6d9fdfe65d268.webp');
    }
  }
  &_stock {
    .privilege-card__number {
      background-image: url('@img/bg/7d1be1009cec6cc5dc0b9c3ed719c64d.webp');
    }
  }

  // .privilege-card__head

  &__head {
    margin-bottom: -2rem;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  // .privilege-card__characters

  &__characters {
    height: 0;
    width: 0;
    span {
      display: inline-block;
      font-family: NotoSerifGeorgian;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-transform: lowercase;
      color: $backPattern;
      transform: translate(-7rem, 11rem) rotate(-90deg);
    }
  }

  // .privilege-card__number

  &__number {
    font-family: Corbby;
    font-size: 30rem;
    line-height: 100%;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-3.6rem);
  }

  // .privilege-card__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .privilege-card__heading

  &__heading {
    margin-bottom: 2rem;
    flex: 1 1 auto;
    max-width: 16.9rem;
  }

  // .privilege-card__text

  &__text {
    max-width: 24.5rem;
  }
}

.blog-card {
  padding: 3rem 3rem 5rem 7rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  &_red {
    background-color: $red;
    .blog-card__number,
    .blog-card__heading,
    .blog-card__row {
      color: $white;
    }
  }

  // .blog-card__number

  &__number {
    margin-bottom: 4.4rem;
    align-self: flex-end;
  }

  // .blog-card__group

  &__group {
    position: relative;
    margin-bottom: 5.5rem;
    align-self: center;
  }

  // .blog-card__image-wrap

  &__image-wrap {
    width: 29rem;
    height: 29rem;
    clip-path: url(#clip-img);
  }

  // .blog-card__image

  &__image {
    height: 100%;
    object-fit: cover;
  }

  // .blog-card__date

  &__date {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2rem;
  }

  // .blog-card__date-txt

  &__date-txt {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    font-family: DrukWideCyr;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    &:first-child {
      .blog-card_red & {
        color: $white;
      }
      &::after {
        content: '';
        width: 7rem;
        height: 1px;
        background-color: $gray;
        .blog-card_red & {
          background-color: rgba(250, 250, 250, 0.5);
        }
      }
    }
    &:not(:first-child) {
      color: $gray;
      .blog-card_red & {
        color: rgba(250, 250, 250, 0.5);
      }
    }
  }

  // .blog-card__heading

  &__heading {
    margin-bottom: 2.5rem;
    max-width: 26.2rem;
  }

  // .blog-card__row

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .blog-card__text

  &__text {
  }

  // .blog-card__arrow

  &__arrow {
    flex: 0 0 4rem;
    width: 4rem;
    height: 4rem;
  }
}

// --------------------------------------------------------------------------

.sl-control {
  display: flex;
  align-items: center;
  column-gap: 5.2rem;

  // .sl-control_reversed

  &_reversed {
    flex-direction: row-reverse;
  }

  // .sl-control__nav

  &__nav {
  }

  // .sl-control__pagination

  &__pagination {
  }
}

.sl-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.2rem;

  // .sl-nav__arrow

  &__arrow {
    flex: 0 0 1.9rem;
    width: 1.9rem;
    height: 1.9rem;

    // .sl-nav__arrow_next

    &_next {
      transform: rotate(-90deg);
    }

    // .sl-nav__arrow_prev

    &_prev {
      transform: rotate(90deg);
    }
  }

  // .sl-nav__arrow-icon

  &__arrow-icon {
    height: 100%;
    object-fit: contain;
  }
}

.sl-pagination {
  display: flex;
  column-gap: 1.8rem;
  font-family: DrukWideCyr;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  .swiper-pagination-bullet-active,
  ._hidden {
    display: none;
  }
}

// --------------------------------------------------------------------------

.tl1 {
  font-family: DrukCyr;
  font-size: 10rem;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  span {
    color: $red;
  }
}

.tl2 {
  font-family: DrukCyr;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 107.143%;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: DrukCyr;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.txt {
  line-height: 122.222%;

  // .txt_md

  &_md {
    font-weight: 500;
  }

  // .txt_wide

  &_wide {
    font-family: DrukWideCyr;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  // .txt_uc

  &_uc {
    text-transform: uppercase;
  }
}

.caps {
  font-size: 1.5rem;
  letter-spacing: 0.18rem;
  text-transform: uppercase;

  // .caps_md

  &_md {
    font-weight: 500;
  }
}
