@font-face {
  font-family: 'GraphicLCG';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/GraphikLCG-Regular.woff2);
}
@font-face {
  font-family: 'GraphicLCG';
  font-style: normal;
  font-weight: 500;
  src: url(@fonts/GraphikLCG-Medium.woff2);
}
@font-face {
  font-family: 'DrukCyr';
  font-style: normal;
  font-weight: 500;
  src: url(@fonts/DrukCyr-Medium.woff2);
}
@font-face {
  font-family: 'DrukWideCyr';
  font-style: normal;
  font-weight: 500;
  src: url(@fonts/DrukWideCyr-Medium.woff2);
}
@font-face {
  font-family: 'DrukWideCyr';
  font-style: normal;
  font-weight: 900;
  src: url(@fonts/DrukWideCyr-Heavy.woff2);
}
@font-face {
  font-family: 'Corbby';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/Corbby.woff2);
}
