.btn {
  display: flex;
  align-items: center;
  &_ol,
  &_solid {
    padding: 2rem 4rem;
    justify-content: center;
    text-align: center;
    height: 6.4rem;
    @media (max-width: 48em) {
      padding: 4rem 8rem;
      height: 10rem;
    }
  }

  // .btn_solid

  &_solid {
    background-color: $black;
    transition: background-color 0.3s ease;
    .btn__text {
      color: $white;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #5f5f5f;
      }
    }
  }

  // .btn_ol

  &_ol {
    border: 1px solid $gray;
    transition: border 0.3s ease, background-color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid $lightGray;
        background-color: $lightGray;
      }
    }
  }

  // .btn_round

  &_round {
    column-gap: 3rem;
    border-radius: 50%;
    .btn__text {
      font-weight: 500;
      letter-spacing: 0.216rem;
      text-transform: uppercase;
    }
    @media (any-hover: hover) {
      &:hover {
        .btn__icon-wrap::after {
          transform: translateX(-0.8rem);
        }
      }
    }
    @media (max-width: 48em) {
      height: 16rem;
      column-gap: 2.4rem;
      .btn__text {
        font-size: 3rem;
        letter-spacing: 0.36rem;
      }
    }
  }

  // .btn__icon-wrap

  &__icon-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &::before {
      content: '';
      position: absolute;
      flex: 0 0 15rem;
      width: 15rem;
      height: 15rem;
      border: 1px solid $black;
      border-radius: 50%;
    }
    &::after {
      content: '';
      flex: 0 0 3rem;
      width: 3rem;
      height: 3rem;
      background-image: url('@img/icons/sl-arr.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-2rem);
      transition: transform 0.3s ease;
    }
    @media (max-width: 48em) {
      &::before {
        flex: 0 0 16rem;
        width: 16rem;
        height: 16rem;
      }
      &::after {
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
        transform: translateX(-3rem);
      }
    }
  }

  // .btn__icon

  &__icon {
    object-fit: contain;
  }

  // .btn_icon

  &_icon {
    column-gap: 1.8rem;
    &::after {
      content: '';
      flex: 0 0 1.9rem;
      width: 1.9rem;
      height: 1.9rem;
      background-image: url('@img/icons/btn-arr.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          transform: translateX(0.8rem);
        }
      }
    }
    @media (max-width: 48em) {
      column-gap: 2.4rem;
      &::after {
        flex: 0 0 2.8rem;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }

  // .btn__text

  &__text {
  }
}
