.checkbox {
  position: relative;
  &_hint {
    display: flex;
    align-items: center;
    .checkbox__text {
      margin-right: 0.8rem;
    }
    &::after {
      content: '';
      width: 2rem;
      height: 2rem;
      background-image: url(@img/icons/hint.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    @media (max-width: 48em) {
      .checkbox__text {
        margin-right: 1.6rem;
      }
      &::after {
        width: 3.4rem;
        height: 3.4rem;
      }
    }
  }

  // .checkbox__input

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + .checkbox__text {
      &::before {
        border: 2px solid $red;
        background-color: $red;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  // .checkbox__text

  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 1.2rem;
    cursor: pointer;
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
      border: 2px solid #e9e8e8;
      transition: background-color 0.3s ease, border 0.3s ease;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0.9rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url(@img/icons/check.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
    }
    @media (max-width: 48em) {
      gap: 1.6rem;
      &.txt {
        line-height: 100%;
      }
      &::before {
        flex: 0 0 4rem;
        width: 4rem;
        height: 4rem;
      }
      &::after {
        top: 0.8rem;
        left: 0.8rem;
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}
