.option {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  cursor: pointer;
  &_reversed {
    .option__text::after {
      left: 0;
      right: auto;
      @media (max-width: 48em) {
        top: 0;
      }
    }
  }
  &_red,
  &_green {
    &::after {
      content: '';
      position: absolute;
      top: 0.6rem;
      right: -24.5rem;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
      @media (max-width: 48em) {
        top: 0.4rem;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  &_red {
    &::after {
      background-image: url(@img/icons/cross-red.svg);
    }
  }
  &_green {
    &::after {
      background-image: url(@img/icons/check-green.svg);
    }
  }

  // .option__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + .option__text::before {
      border: 2px solid $red;
      .option_green & {
        border: 2px solid $green;
      }
    }
    &:checked + .option__text::after {
      transform: scale(0.6);
    }
  }

  // .option__text
  &__text {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    .option_red & {
      color: $red;
    }
    .option_green & {
      color: $green;
      &::before {
        border: 2px solid $green;
      }
      &::after {
        background-color: $green;
      }
    }
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 3rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid $lightGray;
      transition: border 0.3s ease;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $red;
      transform: scale(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }
    @media (max-width: 48em) {
      &::before,
      &::after {
        width: 4rem;
        height: 4rem;
      }
      &::before {
        flex: 0 0 4rem;
      }
      &::after {
        top: 4rem;
      }
    }
  }

  // .option__hint
  &__hint {
    padding-left: 4rem;
    color: $gray;
    @media (max-width: 48em) {
      padding-left: 6rem;
      &.txt {
        font-size: 2.4rem;
      }
    }
  }
}
