// -------------------------------- variables -------------------------------

// colors
$red: #eb5749;
$black: #303033;
$white: #ffffff;
$lightGray: #e9e8e8;
$lightGray2: #f2f2f2;
$gray: #b3b3b3;
$backPattern: #ebe7dc;

// ---------------------------------- fonts ---------------------------------

// google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+Georgian:700&display=swap');

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base file
@import 'base/base';

// html
html.lock,
html.lock body {
  overflow: hidden;
  touch-action: none;
}

// body
body {
  overflow-x: hidden;
  background-image: url('@img/bg.webp');
  background-size: cover;
  // site is loaded
  .loaded & {
  }
}

// wrapper
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  &::after {
    content: '';
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 20.2rem;
    box-shadow: 1.4rem 2rem 16rem 0 rgba(51, 52, 54, 0.2);
    background-color: $white;
    background-image: url(@img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
    ._header-show &,
    ._header-scroll & {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (min-width: 48em) {
    &.product-page {
      &::after {
        height: 33.2rem;
      }
    }
  }
  @media (max-width: 48em) {
    overflow: hidden;
    .container {
      padding: 0 2.4rem;
    }
  }

  // press footer
  > main {
    flex: 1 1 auto;
  }
  // fix for sliders
  > * {
    min-width: 0;
  }
}

// main
.main {
  padding-top: calc(17.4rem + 4rem);
  @media (max-width: 48em) {
    padding-top: 26.6rem;
  }
}

// swiper fade fix
.swiper-fade {
  .swiper-slide {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.swiper-slide-active {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

// --------------------------------------------------------------------------

// base scss
@import 'base/set';
@import 'base/common';

// header / footer
@import 'components/header';
@import 'components/footer';

// sections
@import 'sections/hero';
@import 'sections/hero-promo';
@import 'sections/hero-product';
@import 'sections/categories';
@import 'sections/shopify';
@import 'sections/privileges';
@import 'sections/tests';
@import 'sections/blog';
@import 'sections/collections';
@import 'sections/promo';
@import 'sections/location';
@import 'sections/catalog';
@import 'sections/info-product';
@import 'sections/reviews-product';
@import 'sections/tags-product';
@import 'sections/application';
@import 'sections/account-section';
