// -------------------------------- variables -------------------------------

// colors
$red: #eb5749;
$black: #303033;
$white: #ffffff;
$lightGray: #e9e8e8;
$lightGray2: #f2f2f2;
$gray: #b3b3b3;
$backPattern: #ebe7dc;

// ---------------------------------- fonts ---------------------------------

// google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+Georgian:700&display=swap');

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base file
@import 'base/base';

// body
body {
  overflow-x: hidden;
  background-image: url('@img/bg.webp');
  background-size: cover;

  // scroll is blocked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // site is loaded
  .loaded & {
  }
}

// wrapper
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  overflow: hidden;
  .container {
    @media (max-width: 48em) {
      padding: 0 2.4rem;
    }
  }

  // press footer
  > main {
    flex: 1 1 auto;
  }
  // fix for sliders
  > * {
    min-width: 0;
  }
}

// swiper fade fix
.swiper-fade {
  .swiper-slide {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.swiper-slide-active {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

// --------------------------------------------------------------------------

// base scss
@import 'base/set';
@import 'base/common';

// header / footer
@import 'components/header';
@import 'components/footer';

// sections
@import 'sections/hero';
@import 'sections/hero-banner';
@import 'sections/categories';
@import 'sections/recommendations';
@import 'sections/privileges';
@import 'sections/tests';
@import 'sections/blog';
@import 'sections/collections';
@import 'sections/promo';
@import 'sections/location';
